In [100]:
# imports
import requests
import os
import pandas as pd
from tqdm import tqdm
from pathlib import Path

In [ ]:
# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [16]:

# Create a fuction to send the request with variables 

def getdata(latitude, longitude,x):   
    ## create the API request URL
    url = 'https://api.foursquare.com/v3/places/search'
    api_key = os.environ['FOURSQUARE_API_KEY']
    
    
    params = {
        'll': f'{latitude},{longitude}', 'radius':'1000', 'query':x
        
    }
        # Create dictionary for headers
    headers = {"Accept": "application/json"}
    # Add key with our API KEY
    headers['Authorization'] = api_key
    
    
    ## make the GET request
    
    response = requests.get(url, params=params, headers=headers)
    
    # Get the JSON content from the response
    
    results = response.json()
    
  
    ## Print out the entire JSON response to see catergory names
    results_list = results['results']
    
    ## Partial parsing by POI object
    ### Keeping the scope of the project in mind, I decided to get only the name of the POI(restaurant or Park). Foursquare doesn't display ratings/or reviews count
    ### looping on the size of the request = station
    ### Note: I notice that when I pull the query with two parameters, It is hard to identify a sort item by POI type. 
    ###I decided to request information by type of POI=x
    
    size=len(results_list)
     
    x_name_list=[]
        
    for i in range(size):
        # name=results_list[i]['name']
        
        x_name_list.append(results_list[i]['name'])
            
    return x_name_list

In [17]:
getdata(43.259125842121065,-79.87721174955368,'Restaurant')

['Coop Hamilton',
 'Coop Wicked Chicken Hamilton',
 'La Luna Restaurant Downtown',
 "Bastoni's Shawarma & Grill",
 "Smoke's Poutinerie",
 'Vida la Pita',
 'Papagayo',
 'The George Hamilton',
 "The Moghul's",
 'Island Carribbean Takeout & Catering']

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [18]:

# Parsing for one station i


def alldata (latitude, longitude):
    
  
    response=[]
    station_data=[]
    
## creating a dictionary withrequest and creating a category for POI 
###Looping on every POI for Parks   
    
    response= getdata(latitude, longitude,'Park')   


    for i in range(len(response)):
        
        objet={}
        objet['category']= 'park'
        objet['latitude']= latitude
        objet['longitude']= longitude
        objet['POI']= response[i]
        station_data.append(objet)
        
###Looping on every POI for restaurants      
    response= getdata(latitude, longitude,'restaurants')
    for i in range(len(response)):
        
        objet={}
        objet['category']= 'restaurant'
        objet['latitude']= latitude
        objet['longitude']= longitude
        objet['POI']= response[i]
        station_data.append(objet)
### creating a df for requested station
    df=pd.DataFrame(station_data)
    
    return df

In [19]:
#testing the function
alldata(43.259125842121065,-79.87721174955368)

      category   latitude  longitude                                   POI
0         park  43.259126 -79.877212                             Gore Park
1         park  43.259126 -79.877212                    City Hall Parkette
2         park  43.259126 -79.877212                          Chedoke park
3         park  43.259126 -79.877212                             HAAA Park
4         park  43.259126 -79.877212                   Gore Park Promenade
5         park  43.259126 -79.877212                          HAAA Grounds
6         park  43.259126 -79.877212           Premier Fitness Parking Lot
7         park  43.259126 -79.877212                   The George Hamilton
8         park  43.259126 -79.877212                       Lulu's Shawarma
9         park  43.259126 -79.877212                York Boulevard Parkade
10  restaurant  43.259126 -79.877212                         Coop Hamilton
11  restaurant  43.259126 -79.877212          Coop Wicked Chicken Hamilton
12  restaurant  43.259126 -79.877212           La Luna Restaurant Downtown
13  restaurant  43.259126 -79.877212            Bastoni's Shawarma & Grill
14  restaurant  43.259126 -79.877212                    Smoke's Poutinerie
15  restaurant  43.259126 -79.877212                          Vida la Pita
16  restaurant  43.259126 -79.877212                              Papagayo
17  restaurant  43.259126 -79.877212                   The George Hamilton
18  restaurant  43.259126 -79.877212                          The Moghul's
19  restaurant  43.259126 -79.877212  Island Carribbean Takeout & Catering

In [20]:
# read city_bikes csv#
import pandas as pd
city_bikes_df = pd.read_csv('bikes')
city_bikes_df

,stationid,name,longitude,latitude,free_bikes,empty_slots,total_bikes
0,45dbb0009135e465f49f054517cbe74d,Hess at king,-79.877212,43.259126,5,7,12
1,cd881edad122a75c57d94b381cdfc6c0,Bayfront Park,-79.871327,43.269288,6,26,32
2,024a3edf037cb411d16acc08a7fcb954,Bay at Strachan,-79.867923,43.267859,7,17,24
3,b933317ff2861c45aacbea4cbf4b541f,Bay at Mulberry,-79.871803,43.263198,2,11,13
4,20dc109608315db09a8332d6e6940c75,City Hall,-79.874499,43.256132,7,10,17
...,...,...,...,...,...,...,...
138,55c7dd2953d457e587c7c9d092bf1cb2,Pier 8,-79.856907,43.275289,2,13,15
139,4b4ce0df11a6f9cf3fc6e04e94c78828,Westinghouse at Barton - ERI13,-79.842406,43.258319,5,8,13
140,88b4283638e2beb669e4fe1bee89c2f6,James at Colbourne,-79.866042,43.263777,5,8,13
141,8b7317cc71a48fcac26a3ebcd4da7f25,Main at Longwood,-79.902103,43.259604,8,1,9
142,b745b74c5f9f41debda6ab80a7d9d2ac,Van Wagners,-79.766388,43.260008,6,7,13

In [21]:
# making sure that the upload happened properly
len(city_bikes_df)

143

Put your parsed results into a DataFrame

In [102]:
# creating a dataframe for all Foursquare data

Foursquare_data_dict=[]

x=len(city_bikes_df)

## reading every row of the City bikes and creating its own df
for i in range(x):
    longitude = city_bikes_df.loc[i][2]
    latitude = city_bikes_df.loc[i][3]
   
    temp_data= alldata(latitude,longitude)
    temp_data['station']= i
    Foursquare_data_dict.append(temp_data)

## Concatenating all dfs in one

Foursquare_df=pd.DataFrame()
for df in Foursquare_data_dict:
    x = pd.concat([Foursquare_df, df])
    Foursquare_df= x
    

Foursquare_df.head()

# collecting the data as CSV file
file_path = Path('data/Foursquare1.csv') 
file_path.parent.mkdir(parents=True, exist_ok=True)

Foursquare_df.to_csv(file_path, sep=',',index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [23]:
#Same Process

def getdata1(latitude, longitude,x):   
       
    url = 'https://api.yelp.com/v3/businesses/search'
    api_key = os.environ['YELP_API']
    
 
    
    params = {
        'latitude':latitude,
        'longitude':longitude,
        'radius':'1000',
        'term':x
      
    }
        # Create dictionary for headers
    headers = {"Accept": "application/json"}
    # Add key with our API KEY
    headers['Authorization'] = api_key

    
    
    # make the GET request
    
    response = requests.get(url, params=params, headers=headers)
    
    # Get the JSON content from the response
    
    results = response.json()
    
    results_list = results['businesses']
    
    size=len(results_list)
    
    
    x_name_list=[]
    x_rating_list=[]
    x_review_count_list=[]   
   # looping on every POI 
    
    for i in range(size):
        x_name_list.append(results_list[i]['name'])
        x_rating_list.append(results_list[i]['rating'])
        x_review_count_list.append(results_list[i]['review_count'])    
    return x_name_list,x_rating_list,x_review_count_list

In [24]:
# testing the function
getdata1(43.259125842121065,-79.87721174955368, 'restaurant')

(['Amigos',
  'Berkeley North',
  'The Mule',
  'Uncle Ray’s Food & Liquor',
  'Earth To Table : Bread Bar',
  'Electric Diner',
  'The Ship',
  'The Coop',
  'Diplomat',
  'La Luna',
  'Homemade Noodles',
  'Hambrgr',
  'The George Hamilton',
  'The French',
  'Koi',
  'Papagayo Restaurant',
  'Pho Nhung',
  'Tomah',
  'Moodys',
  'Bon Temps'],
 [4.5,
  4.5,
  4.0,
  4.5,
  4.0,
  3.5,
  4.0,
  4.0,
  4.0,
  4.0,
  4.5,
  4.5,
  3.5,
  4.0,
  3.5,
  4.0,
  4.5,
  5.0,
  4.0,
  5.0],
 [11,
  41,
  174,
  30,
  286,
  16,
  208,
  43,
  23,
  62,
  6,
  201,
  19,
  97,
  7,
  10,
  16,
  7,
  13,
  7])

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [25]:
# function To loop the city_bike file and create df by station

def regroup_data_yelp(latitude, longitude):
    
    response=[]
    station_data=[]
    
    response= getdata1(latitude, longitude,'Park')
    
    for i in range(len(response[0])):
        
        objet={}
        objet['category']= 'park'
        objet['latitude']= latitude
        objet['longitude']= longitude
        objet['POI']= response[0][i]
        objet['rating']= response[1][i]
        objet['reviews_count']=response[2][i]
        station_data.append(objet)
    
    response= getdata1(latitude, longitude,'restaurants')
    for i in range(len(response[0])):
        
        objet={}
        objet['category']= 'restaurant'
        objet['latitude']= latitude
        objet['longitude']= longitude
        objet['POI']= response[0][i]
        objet['rating']= response[1][i]
        objet['reviews_count']=response[2][i]
        station_data.append(objet)

    return pd.DataFrame(station_data)

In [26]:
regroup_data_yelp(43.259125842121065,-79.87721174955368)

,category,latitude,longitude,POI,rating,reviews_count
0,park,43.259126,-79.877212,Hill Street Dog Park,3.0,4
1,restaurant,43.259126,-79.877212,Amigos,4.5,11
2,restaurant,43.259126,-79.877212,The Mule,4.0,174
3,restaurant,43.259126,-79.877212,Uncle Ray’s Food & Liquor,4.5,30
4,restaurant,43.259126,-79.877212,Berkeley North,4.5,41
5,restaurant,43.259126,-79.877212,Earth To Table : Bread Bar,4.0,286
6,restaurant,43.259126,-79.877212,Electric Diner,3.5,16
7,restaurant,43.259126,-79.877212,The Ship,4.0,208
8,restaurant,43.259126,-79.877212,The Coop,4.0,43
9,restaurant,43.259126,-79.877212,Homemade Noodles,4.5,6
10,restaurant,43.259126,-79.877212,Hambrgr,4.5,201
11,restaurant,43.259126,-79.877212,Diplomat,4.0,23
12,restaurant,43.259126,-79.877212,The George Hamilton,3.5,19
13,restaurant,43.259126,-79.877212,La Luna,4.0,62
14,restaurant,43.259126,-79.877212,Papagayo Restaurant,4.0,10
15,restaurant,43.259126,-79.877212,Koi,3.5,7
16,restaurant,43.259126,-79.877212,The French,4.0,97
17,restaurant,43.259126,-79.877212,Moodys,4.0,13
18,restaurant,43.259126,-79.877212,Pho Nhung,4.5,16
19,restaurant,43.259126,-79.877212,Tomah,5.0,7
20,restaurant,43.259126,-79.877212,Bon Temps,5.0,7

Put your parsed results into a DataFrame

In [103]:
# looping on every station and creating dfis
yelp_data_dict=[]

x=len(city_bikes_df)

for i in range(x):
    longitude = city_bikes_df.loc[i][2]
    latitude = city_bikes_df.loc[i][3]
   
    temp_data= regroup_data_yelp(latitude,longitude)
    temp_data['station']= i
    yelp_data_dict.append(temp_data)

# concatenating dfis

Yelp_df=pd.DataFrame()
for df in yelp_data_dict:
    x = pd.concat([Yelp_df, df])
    Yelp_df = x
    
Yelp_df.head()

#SaveCSV
file_path = Path('data/Yelp1.csv') 
file_path.parent.mkdir(parents=True, exist_ok=True)

Yelp_df.to_csv(file_path, sep=',',index=False)

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

In [29]:
# Foursquare
## understanding the size of data
size=len(Foursquare_df)
print(size)

2660

In [32]:
## size by category
Foursquare_df.category.value_counts()

restaurant    1374
park          1286
Name: category, dtype: int64

In [33]:
## Duplication are expected by the nature of proximity two POIs ahre similar restaurants/Parks
Foursquare_df.station.value_counts()

0      20
84     20
100    20
97     20
96     20
       ..
32     10
142     6
34      5
137     2
28      1
Name: station, Length: 143, dtype: int64

In [34]:
# Yelp
# data size
size=len(Yelp_df)
print(size)

2818

In [36]:
# size by category
Yelp_df.category.value_counts()

restaurant    2739
park            79
Name: category, dtype: int64

In [37]:
# duplicate values
Yelp_df.station.value_counts()

66     22
11     22
79     22
1      22
134    22
       ..
136    11
98      9
138     7
142     5
137     1
Name: station, Length: 141, dtype: int64

### Comparison analysis
- Yelp provided overall more total number locations 2818 than Foursquare-FSQ 2660 for the city of Hamilton 
- Also Yelp 2739 restaurants 79 parks  while FSQ 1374 restaurants and 1286 - Assuming that the categorization is correct in both Application it is better to use Yelp for restaurants and FSQ for Parks
- For stations Yelp 141 stations and FSQ 143: 2 stations are not covered by Yelp
- Yelp provide more details such as rationg, reviews count , comments, price level.... that I couldn't find in FSQ for Hamilton.
- Personally I found Json file from Yelp better structured than from FSQ (objet inside the other)
- Interestingly, information pulled from FSQ for some locations aren't well classified
- looking to the data_ yelp shows many big parks where FSQ shows parks and also some places that not considered park

Get the top 10 restaurants according to their rating

In [49]:
# missing records: None
Yelp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2818 entries, 0 to 4
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category       2818 non-null   object
 1   latitude       2818 non-null   float64
 2   longitude      2818 non-null   float64
 3   POI            2818 non-null   object
 4   rating         2818 non-null   float64
 5   reviews_count  2818 non-null   float64
 6   station        2818 non-null   int64
dtypes: float64(4), int64(1), object(2)
memory usage: 176.1+ KB

In [105]:
# for this analysis, I will use Yelp only since I don't have rating for from FSQ
filter = Yelp_df['category'] == 'restaurant'

Yelp_df[filter].groupby(by='POI')['rating'].mean().sort_values(ascending=False).head(40)


##In hamilton there are 37 restaurants with the same highest rating (top restaurants)

POI
193 Bench Kitchen                5.000000
Burger Bus Hamilton              5.000000
Charlie’s Chopsticks             5.000000
Chung Chun Rice Hot Dog          5.000000
Das Schnitzel                    5.000000
Doors: Taco Joint & Metal Bar    5.000000
Famous Recipe                    5.000000
Fishing Sushi                    5.000000
Fisticuffs                       5.000000
General Bread & Pastry           5.000000
Golden Tenders                   5.000000
Hammerheads Fresh On Locke       5.000000
Hanma Japanese Food              5.000000
Lucky’s BBQ                      5.000000
Mancala Monk Board Game Cafe     5.000000
Mikel Coffee                     5.000000
Mystic Ramen                     5.000000
North End Pita                   5.000000
Osten Beerhall                   5.000000
Ottawa Market                    5.000000
People Under The Staircase       5.000000
Pho Excellent                    5.000000
Porcelain Hotpot & Lounge        5.000000
Rustic Reuben                    5.000000
Saha                             5.000000
Tall Tree Sandwich Company       5.000000
Taste of Poland                  5.000000
The Dirty South                  5.000000
The Hearty Hooligan              5.000000
The Red Door Cucina              5.000000
Tomah                            5.000000
Cadillac Jax Bar & Grill         5.000000
Loaded Pierogi                   5.000000
Bon Temps                        5.000000
Azal Restaurant                  5.000000
Banh Mi Hue                      5.000000
BAB Korean Food & BBQ            5.000000
Delirious Burger                 4.692308
Festival Café                    4.500000
Namu                             4.500000
Name: rating, dtype: float64